# Byte-compiled / cache
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Virtual environments
env/
venv/
ENV/

# Build / distribution
build/
dist/
*.egg-info/

# Logs
*.log

# Environment variables
.env

# Jupyter
.ipynb_checkpoints
